.testimonials {
  text-align: left;
}

.title-container {
  margin-bottom: 40px;
}
.testimonials-title {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .testimonials-title {
    font-size: 48px;
  }
}

.testimonials-subtitle {
  font-size: 18px;
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .testimonials-item {
    width: calc((100% - 64px) / 3); /* 3 колонки, минус 2 промежутка */
  }
}

.testimonials-text {
  font-size: 20px;
  margin-bottom: 16px;
}

.testimonials-avatar {
  margin-bottom: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials-name {
  font-weight: 600;
}
